body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    margin-top: .7rem;
    background-color: rgb(215, 208, 198);
    border-radius: .5rem;
}

.search-product {
    display: flex;
    gap: .5rem;
    width: 18%;
    padding: 1rem;
    border-radius: .5rem;
    margin-left: 20px;
}

.input-product {
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: 2px solid rgb(153, 173, 181);
    outline: none;
}

.button-search {
    border-radius: .5rem;
    background-color: rgb(153, 173, 181);
    border: none;
    color: bisque;
    cursor: pointer;
}

.list-product {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 20px;
}

li {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(153, 173, 181);
    cursor: pointer;
}

.card-container {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    /* width: 25%; */
    margin: 2rem auto;
    gap: 1rem;
    margin-top: 1.5rem;
}

.card {
    
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgb(215, 208, 198) 0px 8px 24px, rgb(215, 208, 198) 0px 16px 56px, rgb(215, 208, 198) 0px 24px 80px;
    border-radius: 1rem;
    margin: 0 auto;
    /* background-color: rgb(222, 222, 222); */

}


.card img {
    width: 50%;
    height: 50%;
}